* {
     box-sizing: border-box;
 }
 
 body {
     margin: 0px;
     font-family: sans-serif;
 }

 .single-column {
    width: 50%; 
    margin-right: auto;

 }
.second-column {
    width: 50%;
    margin-left:auto;
}
.center-column{
    width:50%;
    margin-left:auto;
    margin-right:auto
}




